@page "/"
@namespace Calendar_VK_MyGames.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar VK MyGames</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />

    @*Blazority Style*@
    <link rel="stylesheet" href="_content/Blazority/lib/clr/ui/clr-ui.min.css" />
    <link rel="stylesheet" href="_content/Blazority/lib/clr/icons/clr-icons.min.css" />
    <link rel="stylesheet" href="_content/Blazority/blazority.min.css" />

    <script src="_content/Blazority/lib/webcomponents/custom-elements/custom-elements.min.js"></script>
    <script src="_content/Blazority/lib/clr/icons/clr-icons.min.js"></script>
    <script src="_content/Blazority/blazority.min.js"></script>

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Произошла ошибка. Приложение может не отвечать до перезагрузки.
        </environment>
        <environment include="Development">
            Произошло что-то страшное и непонятное. Проверьте лог ошибок.
        </environment>
        <a href="" class="reload">Перезагрузить</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
